
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var items = new string[] {"one", "two", "three"};
}

<h2>TestView1</h2>
<ul>
    @foreach (var item in items)
    {
        <li>The item name is @item.</li>
    }
</ul>
<p>Your are @ViewBag.VisitorNumber today</p>
